# Dependencies
node_modules/
**/node_modules/

# Expo & Metro
.expo/
**/.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Logs & Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
